.search-cont {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  align-items: end;
  margin-bottom: 3em;
  width: 80%;
  margin-left: 10%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
}
.search {
  font-size: 1.6em;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 1em;
  line-height: 3em;
  cursor: text;
  border: none;
  width: 100%;
  font-family: "Tangerine", cursive;
  font-size: 2.5em;
  line-height: 0;
}
.search-icon {
}
