#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Tangerine', cursive;
}

.App h1 {
  font-family: "Rubik Distressed", cursive;
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}

@media (max-width: 530px) {
  .App h1 {
    font-size: 2rem;
  }
}
